* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
}

button {
    border: none;
}

.button {
    width: max-content;
    width: -moz-max-content;
    font-size: 1em;
    border: 1px solid #36c1c8;
    border-radius: 4px;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    line-height: 1;
    padding: 8px 12px;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.button:hover {
    background: #36c1c8;
    color: #ffffff;
}

.nav-bar {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    background-color: #1e6ae1;
    z-index: 1;
}

li {
    display: inline;
}

li {
    float: left;
}

a,
.nav-bar button {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: 0.3s;
}

a:hover,
.nav-bar button:hover {
    color: #1e6ae1;
}

.nav-bar a,
.nav-bar button {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.nav-bar a:hover,
.nav-bar button:hover {
    background: rgb(234, 234, 234);
    cursor: pointer;
}

.nav-item-right {
    margin-left: auto;
}

.page-wrapper {
    margin: 8px;
    margin-top: 37px;
}

a.active,
button.active {
    background: #eee;
}

header.center {
    text-align: center;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    overflow: auto;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
}

.login-content {
    margin-top: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 500px;
    filter: hue-rotate(45deg);
}

form.login-form {
    width: 360px;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-error-message {
    margin-bottom: 1em;
    color: red;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: -25px;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 12px;
}

.i i {
    transition: 0.3s;
}

.input-div.pass {
    margin-bottom: 4px;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: 0.3s;
}

.input-div:before,
.input-div:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #1e6ae1;
    transition: 0.4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.input-heading-top h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: #1e6ae1;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: "poppins", sans-serif;
}

.input-div-checkbox {
    display: grid;
    place-items: flex-start;
    padding: 5px 0px 10px 5px;
    border-bottom: 2px solid #d9d9d9;
}

.input-div-checkbox h5,
.input-div-experience h5 {
    position: unset;
    font-size: 18px;
    color: #999;
}

.input-div-checkbox>.options {
    display: grid;
    flex-direction: column;
    place-items: flex-start;
    width: -moz-available;
    padding: 1em 0em 0em 2em;
    height: max-content;
    color: #999;
}

.input-div-experience {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.input-div-experience .div {
    display: flex;
}

.doctor-id {
    display: none;
}


/* Remove arrow marks in number input in Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Remove arrow marks in number input in Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.values {
    display: flex;
    color: #999;
    padding: 8px;
}

.values * {
    margin-right: 8px;
}

.values input {
    width: 30px;
    border: none;
    border-bottom: 1px solid #999;
}

.values input:focus {
    outline: 1px solid #d9d9d9;
}

@supports selector(:focus-visible) {
    .values input:focus {
        outline: none;
    }
    .values input:focus-visible {
        outline: 1px solid #d9d9d9;
    }
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #1e6ae1, #36c1c8, #1c61ce);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-position: right;
}

.guest-login {
    text-align: center;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right, #4b88e7, #5eced3, #4b88e7);
}

.guest-login:hover {
    color: #fff;
}

.table-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px 20px;
    overflow: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    text-align: center;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th:first-of-type,
.styled-table td:first-of-type {
    padding: 12px 15px;
}

.styled-table th,
.styled-table td {
    padding: 0px 15px;
    text-align: center;
    width: min-content;
}

.styled-table tbody tr {
    border-bottom: 1px solid #36c1c8;
}

.styled-table tbody tr {
    background-color: #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1c61ce;
}


/* Delete account option */

.remove-account-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
}

.remove-account-button {
    width: fit-content;
    border: 1px solid #ca0606;
    color: black;
}

.remove-account-button:hover {
    background: #ca0606;
}

.add-patient-button {
    align-self: flex-end;
}

table td .question-number {
    font-weight: bold;
}

.section-marks-input {
    background: transparent;
    border: none;
    width: -webkit-fill-available;
    width: -moz-available;
    outline: none;
    text-align: center;
}


/* Hide input number arrows */


/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
} */

.total-marks-container {
    display: table;
    background: #1dcc88;
    border-radius: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 8px;
}

.total-marks {
    width: 30px;
    font-size: 1em;
    text-align: start;
    font-weight: bold;
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.upload-form-body {
    overflow: hidden;
}

.upload-form-container {
    display: table;
    top: 16px;
    padding: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    margin-bottom: 24px;
    border-radius: 8px;
    z-index: 0;
}

.upload-form-fieldset {
    padding: 8px;
    border-radius: 8px;
}

.form-item {
    padding-bottom: 8px;
}

input[type="file"] {
    max-width: 293.33px;
}

.submit-button-container {
    float: right;
    margin-top: 10px;
}

div.basic-info-container {
    margin: auto;
    padding: 8px;
    position: relative;
    top: 8px;
    width: 310px;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #dcdcdc;
}

div.basic-info-container header {
    padding: 8px;
    background: #009879;
    color: white;
    font-size: 0.8em;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1em 0em;
    text-align: right;
    line-height: 26px;
}

.info-value {
    height: 20px;
    width: fit-content;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
}

.info-container>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1px;
    border-bottom: 1px solid #d6d6d6;
}

div.patient-info-container {
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: center;
}

div.medications-prescribed-count {
    padding: 8px;
    background: aliceblue;
}

div.bmi-value {
    margin-left: 8px;
    padding: 8px;
    background: antiquewhite;
}

.bmi-severely-underweight,
.bmi-obese {
    color: #bc2020;
}

.bmi-underweight,
.bmi-slightly-obese {
    color: #d38888;
}

.bmi-slightly-underweight,
.bmi-overweight {
    color: #ffe400;
}

.bmi-normal {
    color: #008137;
}

.bmi-morbidly-obese {
    color: #8a0101;
}

.patient-medicine-info-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1em;
}

.medicine-table-container {
    width: max-content;
}

.table-icon-container {
    height: 47px;
    display: grid;
    place-items: center;
}

.ui-icon {
    height: 20px;
    width: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ui-icon-big {
    height: 25px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-medicine-form {
    display: flex;
    flex-direction: column;
}

#add-medicine-button {
    margin-bottom: 36px;
}

#submit-medicine-list-button {
    display: none;
}

#new-medicine-input {
    width: 125px;
    max-width: min-content;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
}

#patient-id {
    display: none;
}

.evaluation-table {
    table-layout: fixed;
    width: 100%;
    font-size: 1em;
}

.embedded-pdf-container {
    height: 80vh;
    width: 70%;
}

.finish-paper-form-container {
    font-size: 0.9em;
}

.finalize-paper-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.next-button {
    width: fit-content;
    width: -moz-fit-content;
}

.add-user {
    width: max-content;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    grid-gap: 1em;
    margin-top: 5em;
    padding: 2em;
    background: whitesmoke;
    border: 2px solid #1c61ce;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.button__add-user {
    width: 165.25px;
}


/* Media Queries */

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form.login-form {
        width: 290px;
    }
    .login-content h2 {
        font-size: 2.4rem;
    }
    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .img {
        display: none;
    }
    .wave {
        display: none;
    }
    .login-content {
        justify-content: center;
    }
    .evaluation-form-container {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px) {
    .evaluation-form-container {
        font-size: 0.7em;
    }
    .finalize-paper-buttons-container {
        flex-direction: column;
        align-items: center;
        grid-gap: 0.4em;
    }
}

@media screen and (max-width: 730px) {
    .evaluation-page-wrapper {
        flex-direction: column;
        margin-top: 3rem;
    }
    .embedded-pdf-container {
        height: 100vh;
        width: 100%;
    }
    .evaluation-form-container {
        width: 50%;
        font-size: 1em;
        margin-bottom: 8px;
    }
}